## 판다스(Pandas) 05 Page 2

In [1]:
import pandas as pd

persons_dict = { 'Name' : [ 'John', 'Sabre', 'Kim' ],
                 'Country' : [ 'USA', 'France', 'Korea' ],
                 'Age' : [ 31, 33, 28 ],
                 'Job' : ['Student', 'Lawyer', 'Chef'] } 

df1 = pd.DataFrame(data = persons_dict, 
                   columns = [ 'Name', 'Country', 'Age', 'Job' ] ) 

df1

    Name Country  Age      Job
0   John     USA   31  Student
1  Sabre  France   33   Lawyer
2    Kim   Korea   28     Chef

In [2]:
# 분리자(seperator)로서 comma, tab, space 지정하여 저장
# 분리자 옵션을 생략하면 기본적으로 sep=',' 인식

df1.to_csv('persons_01.csv', sep = ',')

df1.to_csv('persons_01.tsv', sep = '\t')

df1.to_csv('persons_01.txt', sep = ' ')

## 판다스(Pandas) 05  Page 3

In [3]:
import pandas as pd

persons_dict = { 'Name' : [ 'John', 'Sabre', 'Kim' ],
                 'Country' : [ 'USA', 'France', 'Korea' ],
                 'Age' : [ 31, 33, 28 ],
                 'Job' : ['Student', 'Lawyer', 'Chef'] } 

df1 = pd.DataFrame(data = persons_dict, 
                   columns = [ 'Name', 'Country', 'Age', 'Job' ] ) 

df1

    Name Country  Age      Job
0   John     USA   31  Student
1  Sabre  France   33   Lawyer
2    Kim   Korea   28     Chef

In [5]:
# 데이터프레임을 엑셀의 xls 형식으로 저장
import xlwt

df1.to_excel('persons_03.xls') 


# 데이터프레임을 엑셀의 xlsx 형식으로 저장
import openpyxl

df1.to_excel('persons_03.xlsx')

## 판다스(Pandas) 05  Page 4

In [10]:
import pandas as pd

persons_dict = { 'Name' : [ 'John', 'Sabre', 'Kim' ],
                 'Country' : [ 'USA', 'France', 'Korea' ],
                 'Age' : [ 31, 33, 28 ],
                 'Job' : ['Student', 'Lawyer', 'Chef'] } 

df1 = pd.DataFrame(data = persons_dict, 
                   columns = [ 'Name', 'Country', 'Age', 'Job' ] ) 

df1

    Name Country  Age      Job
0   John     USA   31  Student
1  Sabre  France   33   Lawyer
2    Kim   Korea   28     Chef

In [11]:
df1.to_json('persons_04.json')